html {
    --light-color: #fff;
    --dark-color: #164e63;
    --light-dark-color: #155e75;
    --sidebar-color: #0891b2;
    --content-background-color: #cffafe;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    grid-area: 1 / 1 / 3;
    background-color: var(--sidebar-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.header {
    grid-area: 1 / 2;
    background-color: var(--light-color);
}

.header,
.card-container .card,
.announcement-content,
.trending-content {
    box-shadow: 0 0.4rem 0.7rem 0 rgba(0, 0, 0, 0.116);
    z-index: 1;
}

.card-container .card,
.announcement-content,
.trending-content {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.container .content {
    grid-area: 2 / 2;
    background-color: var(--content-background-color);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 1rem 3rem 0;
}

.projects {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3;
    padding: 0 1.25rem;
}

.announcements {
    grid-area: 1 / 2;
    padding-bottom: 1.25rem;
}

.trending {
    grid-area: 2 / 2;
}

.title-content {
    color: var(--dark-color);
}

.title-content, .logo {
    font-weight: bold;
    font-size: 1.5rem;
}

.projects .card-container {
    flex: 1 1 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1.5rem;
}

.card-container .card {
    background-color: var(--light-color);
}

.card {
    padding: 1rem;
}

.announcements {
    display: flex;
    flex-direction: column;
}

.announcement-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.announcement-content .card {
    flex: 1 1 0;
}

.announcements .border {
    align-self: center;
    width: calc(100% - 2rem);
    flex: 0 0 1px;
    background-color: var(--dark-color);
}

.trending {
    display: flex;
    flex-direction: column;
}

.trending-content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background-color: var(--light-color);
}

.trending-content .account {
    flex: 1 1 0;
    padding: 0 1rem;
}

ul {
    padding: 0;
    margin: 0;
}

ul .child, .logo {
    color: var(--light-color);
}

ul .child {
    font-size: 1.2rem;
    font-weight: bold;
}

a {
    text-decoration: none;
}

.title {
    font-weight: bold;
    color: var(--dark-color);
}
.description, .account div {
    color: var(--light-dark-color)
}

.projects .title {
    font-size: 1.3rem;
}

.projects .description {
    font-size: 1.1rem;
}

.announcements .title {
    font-size: 1.1rem;
}

.top-section {
    display: flex;
}

#search-bar {
    color: var(--dark-color);
    background-color: var(--content-background-color);
    border: none;
    outline: none;
}

.bottom-section {
    display: flex;
}

button {
    background-color: var(--sidebar-color);
    color: var(--light-color);
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
}